.uiStreamSecondaryTime .img{bottom:-2px;position:relative;vertical-align:top}.withActorSelector .uiStreamSecondaryTime .img{margin-top:6px}

#bootloader_QYAvF{height:42px;}.bootloader_QYAvF{display:block!important;}